
@{
    ViewData["Title"] = "Authorize";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/js/manager.js"></script>
    <script>
        var userId = "@Html.Raw(ViewBag.UserId)";
    </script>
}
<h2>授权</h2>

<div ng-app="app" ng-controller="authorizeController" class="authManager">
    <p>

    </p>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>  用户已授权项目</p>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-cloak>
                <div class="panel-heading">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入获取站点架构URL" ng-model="apiUrl">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="load()">加载站点授权项</button>
                        </span>
                    </div>



                </div>
                <div class="panel-body">

                    <div class="alert alert-warning  no-margin-bottom" role="alert" ng-if="!data">
                        <strong>Info</strong> {{message}}
                    </div>

                    <div ng-if="data">
                        <blockquote>
                            <h4 class="panel-title">{{data.name}}</h4>
                        </blockquote>
                        <p>
                            <select ng-options="(a.description || a.name) for a in data.modules" ng-model="module" class="form-control">
                                <option value="">请选择模块</option>
                            </select>
                        </p>
                        <div ng-if="module">
                            <blockquote>
                                <p>{{module.name}} </p>
                                <h6 class="text-info">{{module.description}}</h6>
                            </blockquote>
                            <blockquote>
                                <ul>
                                    <li ng-repeat="item in module.actions">
                                        <label> <input type="checkbox" ng-model="item.checked" ng-change="save(item);"><span>{{item.name}}</span></label>
                                        <h6 class="text-info"> {{item.description}}</h6>
                                    </li>
                                </ul>
                            </blockquote>
                        </div>
                        <button class="btn btn-primary" ng-if="module">保存项目</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>