
@{
    ViewData["Title"] = "用户授权";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/js/manager.js"></script>
}
<h2>用户管理</h2>

<div ng-app="app" ng-controller="userController" class="userManager">
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="45">No.</th>
                <th width="200">用户名</th>
                <th width="200">昵称</th>
                <th width="200">邮件地址</th>
                <th width="200">联系电话</th>
                <th width="80">锁定状态</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in data" ng-cloak>
                <td>{{$index+1}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.normalizedUserName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
                <td class="text-center">{{item.lockoutEnabled?"否":"是"}}</td>
                <td class="text-center">
                    <a class="btn-link" ng-href="/user/authorize/{{item.id}}">授权</a>
                </td>
            </tr>
        </tbody>
    </table>
    <ul uib-pagination
        total-items="pagecount"
        ng-model="pageindex"
        items-per-page="pagesize"
        last-text="上一页"
        next-text="下一页"
        previous-text="首页"
        ng-change="page(pageindex);"
        class="pagination-sm"
        boundary-link-numbers="true"
        rotate="false"></ul>
</div>